*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
/* .col-2{
    background-image: url('bg.jpg'); /* Replace with the path to your image */
    /* background-size: cover;
    background-position: center;
    height: 100vh;
    width: 200vb;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: #050505; /* Text color on top of the image */
    /* text-align: center;
    
} */ 

.col-2 h1 {
    /* font-size: 3em;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0; */
    font-size: 30px;
    line-height: 40px;
    margin: 25px,0;
}
.col-2 p{
    font-size: 10px;
}

.col-2 p {
    font-size: 1.5em;
    color: rgb(7, 7, 7);
}
.btn{
    /* display: inline-block;
    background: black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    width: 100px;
    height: 60px;
    transition: 0.5s; */
    display: inline-block;
    background: #2b2727;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:0.5s;

}

.btn:hover{
    background: radial-gradient(#686161,#efe9e9);
    
}
.header{
    background: radial-gradient(#ece6e6,#312d2d);
}
.header .row{
margin-top: 70px;
}
.categories{
    margin-top: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523f;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.h4{
    color: #555;
    font-weight: normal;

}
.col-4 p{
    font-size: 14px;

}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
    /* border: 2px solid #0b0b0b;  */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.offer{
    background: radial-gradient(#ece6e6,#312d2d);  
    margin-top: 80px;  
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
    width: 500px; /* Set the width of the image */
    height: 500px; /* Set the height of the image */
    border-radius: 50%; /* Turn the square image into a circle */
    overflow: hidden; 
}
small{
    color: #555;
}