{% extends "EBazaar/layout2.html" %}

{% block body %}

<div style="position: relative; margin: 100px;">
    <h2>Register</h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'EBazaar:register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="user_type" placeholder="User Type">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="company_name" placeholder="Company Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'EBazaar:login' %}">Log In here.</a>
</div>

{% endblock %}